{
  "useTabs": false,
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "es5",
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": true,
  "bracketSameLine": false,
  "bracketSpacing": true
}
